body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.header-pane{
    background-color: darkslateblue;
}

#mobile-header{
    display: none;
}

.app-title{
    display: flex;
    justify-content: center;
    align-content: baseline;
    padding-bottom: 2%;
    font-size: xxx-large;
    color: ghostwhite;
}

.logo{
    margin: 10px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("../images/logo_square.PNG");
    border-radius: 35px;
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-top{
    color: ghostwhite;
    padding-bottom: 2px;
    padding-top: 3px;
    background-color: black;
}

.navbar-top div{
    display: inline-block;
}

#search-pane{
    display: inline-block;
    width: 300px;
    position: absolute;
    right: 16%;
    top: 22%;
}
#find-pane{
    display: flex;
    border: solid 1px;
    width: 100%;
}

#search-field{
    width: 90%;
    margin-left: 2%;
}

#find-pane img{
    width: 8%;
}

#desktop-logout-btn{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 3%;
    top: 23%;
}

#desktop-user-icon{
    padding-bottom: -5px;
}

/****************** Authentication ****************/
.auth-form{
    border: solid 1px;
}
.auth-form h4{
    border-bottom: solid 1px;
    margin-top: 4%;
    margin-bottom:10px;
    padding: 2%;
    text-align: center;
    font-size: x-large;
}

.form-element{
    width: 96%;
    height: 50px;
    margin-top: 4%;
    margin-right: 2%;
    margin-left: 2%;
    border: solid 1px;
}

.form-input{
    font-size: x-large;
}

.auth-btn{
    margin: 2%;
}

#forget-password-link{
    float: right;
    padding-top: 4%;
    margin-right: 2%;
}


/*****************Mobile view***********************/
@media screen and (max-device-width: 425px) {
    [class*='col-'] {
        width: 100%;
    }

    #desktop-header{
        display: none;
    }

    #mobile-header{
        display: block;
    }
    #app-title-mobile{
        display: inline-block;
        padding-bottom: 1%;
        width: 60%;
        margin-left: 15px;
        font-size: 21px;
        color: ghostwhite;
        position: relative;
        top: -28px;
    }

    .logo{
        /*margin: 10px;*/
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("../images/logo_square.PNG");
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #logo-mobile{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 28px;
    }
    .navbar-top-mobile{
        margin-top: 10px;
    }

    #mobile-header #menu-icon{
        width: 30px;
        position: relative;
        top: -25px;
    }

    #user-icon{
        display: inline-block;
        width: 60%;
        font-size: 15px;
        font-weight: bold;
        color: inherit;
    }

    #img-icon-cell{
        max-width: 48px;
        padding-right: 4px;
        padding-left: 4px;
    }
    #logout-btn{
        position: relative;
        left: 20%;
    }

    #mobile-find-pane{
        display: flex;
        height: 30px;
        justify-content: center;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
        border: solid 1px ghostwhite;
    }

    /*#find-pane{*/
    /*    font-size: x-large;*/
    /*}*/

    /*********** Side Bar *************/
    .side-bar{
        border: solid 1px;
        width: 60%;
        height: 480px;
        /*background-color: ;*/
        position: fixed;
        z-index: 100;
    }

    /****************** Authentication ****************/
    .auth-form{
        border: solid 1px;
        width: 98%;
    }
    .auth-form h4{
        border-bottom: solid 1px;
        margin-top: 4%;
        margin-bottom:10px;
        padding: 2%;
        text-align: center;
        font-size: x-large;
    }

    .form-element{
        width: 96%;
        height: 50px;
        margin-top: 4%;
        margin-right: 2%;
        margin-left: 2%;
        border: solid 1px;
    }

    .form-input{
        font-size: x-large;
    }

    .auth-btn{
        margin: 2%;
    }

    #forget-password-link{
        float: right;
        padding-top: 4%;
        margin-right: 2%;
    }

    #user-icon{

    }

/*******************Footer***************/
    .footer{
        border-top: solid 1px;
        position: relative;
        top: 410px;
    }
}



    /*.top-banner{*/
/*    width: 100%;*/
/*}*/

/*.logo{*/
/*    !*margin: 10px;*!*/
/*    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("../images/logo_square.PNG");*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/