body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.header-pane{
    width: 100%;
    background-color: darkslateblue;
    position: fixed;
}

.auth-main{
    margin-top: 20%;
}

#mobile-header{
    display: none;
}

.app-title{
    display: flex;
    justify-content: center;
    align-content: baseline;
    padding-bottom: 2%;
    font-size: xxx-large;
    color: ghostwhite;
}

.logo{
    margin: 10px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("../images/kip-enai-logo.jpg");
    border-radius: 35px;
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-top{
    color: ghostwhite;
    padding-bottom: 2px;
    padding-top: 3px;
    background-color: black;
}

.navbar-top div{
    display: inline-block;
}

#search-pane{
    display: inline-block;
    width: 300px;
    position: absolute;
    right: 16%;
    top: 81%;
}
#find-pane{
    display: flex;
    border: solid 1px;
    width: 100%;
}

#search-field{
    width: 90%;
    margin-left: 2%;
}

#find-pane img{
    width: 8%;
}

#desktop-logout-btn{
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 85%;
}

#desktop-logout-btn input{
    font-size: 18px;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

#desktop-user-icon{
    padding-bottom: -5px;
}

/****************End of Header *********************/

/******************Main Content****************/
.main-content{
    padding-right: 0px;
}
#main-content{
    margin-top:10%;
    margin-left: 20%;
    padding-right: 8px;
    width: 80%;
    height: 450px;
    overflow-y: auto;
}

/****************Display Table****************/
.odd{
    background-color: grey;
    color: whitesmoke;
}
/*********************************************/

#pupil-passport-file-pane{
    display: none;
    margin: 13px;
}

.pupil-data{
    display: none;
}

#parent-data-header{
    margin-top: 50px;
    font-size: large;
    border-bottom: solid 1px darkslategray;
}

#parent-data-header img{
   float: right;
    cursor: pointer;
}

#parent-data-pane{
    display: none;
}

/******************* side bar **********************/

.side-bar{
    width: 18%;
    height: 449px;
    padding-left: 0px;
    padding-right: 0px;
    color: whitesmoke;
    background-color:black;
    border: solid 1px black;
    overflow-y: auto;
    position: fixed;
    left: 0px;
    top: 25%;
    z-index: 100;
}

#close-menu{
    display: none;
}

#side-bar div{
    padding: 14px;
    cursor: pointer;
}


#side-bar div:not(#close-menu):hover{
    background-color: #2c3034;
}

#side-bar .active{
    background-color: #6c757d;
}

/****************** Authentication ****************/
.auth-form{
    border: solid 1px;
}
.auth-form h4{
    border-bottom: solid 1px;
    margin-top: 4%;
    margin-bottom:10px;
    padding: 2%;
    text-align: center;
    font-size: x-large;
}

.form-element{
    width: 96%;
    height: 50px;
    margin-top: 4%;
    margin-right: 2%;
    margin-left: 2%;
    border: solid 1px;
}

.form-input{
    font-size: x-large;
}

.auth-btn{
    margin: 2%;
}

#forget-password-link{
    float: right;
    padding-top: 4%;
    margin-right: 2%;
}

/***************End Auth******************/
.pane-title{
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: solid 1px darkslategray;

}
/************Admission page**************/

.wrap-form-element{
    display: inline-block;
    width: 100%;
}

.wrap-form-element input{
    width: 98%;
    margin: 2%;
}

.wrap-form-element label{
    margin-left: 2%;
}
#student-gender-male, #student-gender-female, #parent-gender-male, #parent-gender-female, #teacher-male,
#teacher-female, #fulltime-employment-type, #parttime-employment-type, #subject-teaching-type, #class-teaching-type{
    width: 40px;
    display: inline;
}

label[for="student-gender-male"], label[for="parent-gender-male"]{
    margin-right: 20%;
}

/***********Image capture styling*********/

.camera{
    width: 240px;
    height: 240px;
    display: inline-block;
}

#video{
    width: 240px;
    height: 240px;
    display: inline-block;
    border: solid 1px darkslategray;
}

#run{
    background-color: darkslateblue;
}

#capturebtn{
    margin: 10px;
    font-size: large;
    outline: none;
    border: solid 1px darkslateblue;
    background-color: darkslateblue;
    color: whitesmoke;
}

#canvas{
    display: none;
}

.output{
    width: 240px;
    border: solid 1px darkslategray;
}

.passport-btn{
    width: 20%;
    margin: 2%;
    font-size: large;
    outline: none;
    border: darkslategray;
    background-color: darkslategray;
    color: whitesmoke;
}
/*********** End of image capturing ******/

/*#parent-data-header::after{*/
/*    content: '\02795'; !* Unicode character for "plus" sign (+) *!*/
/*    font-size: 13px;*/
/*    color: #777;*/
/*    float: right;*/
/*    margin-left: 5px;*/
/*}*/

/********End of Admission Page **********/

/**************View Page****************/
.view-categories{
    text-align: center;
    padding-bottom: 8px;
    border-bottom: solid 1px darkslategray;
}
.category-pane{
    padding: 5px;
    margin: 10px;
    font-size: large;
}

.category-pane select{
    display: none;
    outline: none;
    border: solid 1px darkslategray;
    font-size: large;
}

.view-record-pane th, tr, td{
    border: solid 1px darkslategray;
    border-collapse: collapse;
}
.view-record-pane table,th, tr, td{
    border-collapse: collapse;
}

/************End of View Page***********/

/***********Subject upload page********/
#subject-2,#subject-3, #subject-4, #subject-5{
    display: none;
}
#add-subject-btn-span{
    display: flex;
    justify-content: center;
    align-content: baseline;
    font-size: large;
    width: 26%;
    border: solid 1px white;
    margin-left: 72%;
    cursor: pointer;
}

#add-subject-btn{
    margin-left: 8px;
}
/**********End of subject upload*******/

/************Assign subject/class view ****************/
#assign-subject-form th, tr, td{
    border: solid 0px darkslategray;
    border-collapse: collapse;
}
#assign-subject-form table,th, tr, td{
    border-collapse: collapse;
    padding: 5px;
}


/**
 * New Update from 02 - April - 2022
 */

.modal-pane-background{
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    /*background-color: black;*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;

}

.modal-pane{
    background-color: whitesmoke;
    width: 40%;
    height: 500px;
    margin-left: 28%;
    margin-top: 6%;
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.modal-button{
    display: flex;
    padding-top: 10px;
    width: 100%;
    border-top: solid 1px darkslategray;
    align-content: center;
    text-align: center;
}

.parentViewLabel{
    display: inline-block;
    width: 40%;
    padding: 1%;
    margin: 1%;
    color: blue;
}

#clear-modal-button{
    margin-left: 48%;
}

/*****************************************************/

/*******************Footer***************/
.footer{
    width: 100%;
    border-top: solid 1px;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0px;
}

/***************** Tablet View *********************/

@media screen and (min-device-width: 426px) and (max-device-width: 768px){
    #search-pane{
        position: absolute;
        right: 16%;
        top: 33%;
    }

    #desktop-logout-btn{
        position: absolute;
        right: 3%;
        top: 33%;
    }

    .side-bar{
        border: solid 1px black;
        width: 30%;
        height: 150px;
        overflow-y: auto;
        position: fixed;
        left: 0px;
        top: 44%;
        z-index: 100;
    }

    /********* Mobile Modal***********/

    .modal-pane{
        width: 90%;
        height: 450px;
        margin-left: 4%;
        margin-top: 10%;
        font-size: medium;
    }

    #clear-modal-button{
        margin-left: 40%;
    }
}

/*****************Mobile view***********************/
@media screen and (max-device-width: 425px) {
    [class*='col-'] {
        width: 100%;
    }

    #desktop-header{
        display: none;
    }

    .auth-page-headers .logo{
        width: 50px;
        height: 50px;
    }

    .auth-page-headers .app-title{
        width: 80%;
        font-size: x-large;
        text-align: justify-all;
    }

    #mobile-header{
        display: block;
    }
    #app-title-mobile{
        display: inline-block;
        padding-bottom: 1%;
        width: 60%;
        margin-left: 15px;
        font-size: 21px;
        color: ghostwhite;
        position: relative;
        top: -28px;
    }

    /*.logo{*/
    /*    !*margin: 10px;*!*/
    /*    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("../images/logo_square.PNG");*/
    /*    border-radius: 30px;*/
    /*    background-size: cover;*/
    /*    background-position: center;*/
    /*    background-repeat: no-repeat;*/
    /*}*/

    #logo-mobile{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 28px;
    }
    .navbar-top-mobile{
        margin-top: 10px;
    }

    #mobile-header #menu-icon{
        width: 30px;
        position: relative;
        top: -25px;
    }

    #user-icon{
        display: inline-block;
        width: 60%;
        font-size: 15px;
        font-weight: bold;
        color: inherit;
    }

    #img-icon-cell{
        max-width: 48px;
        padding-right: 4px;
        padding-left: 4px;
    }
    form[name="logout-form"]{
        display: inline-block;
        position: relative;
        left: 20%;
    }
    #logout-btn input{
        border: none;
        outline: none;
        background-color: inherit;
        font-size: 16px;
        color: inherit;
    }

    #mobile-find-pane{
        display: flex;
        height: 30px;
        justify-content: center;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
        border: solid 1px ghostwhite;
    }

    /*#find-pane{*/
    /*    font-size: x-large;*/
    /*}*/

    /*****************Main content*******/
    main-content{
        margin-top: 5%;
    }
    #main-content{
        margin-top:45%;
        margin-left: 0%;
        height: auto;
        padding-right: 8px;
        width: 100%;
    }

    #admission-form{
        padding-top: 4px;
    }

    .wrap-form-element{
        margin: 5px;
        padding: 5px;
    }
    .form-spacer{
        display: none;
    }

    .view-categories {
        text-align: justify;
    }

    .category-pane{
        display: block;
        padding: 5px;
        margin: 8px;
        font-size: large;
    }

    .category-pane input{
        width: 18px;
        height: 18px;
    }

    .category-pane select{
        outline: none;
        border: solid 1px darkslategray;
        font-size: large;
    }

    /*.view-record-pane{*/
    /*    width: 100%;*/
    /*    overflow-x: auto;*/
    /*}*/
    #view-record-pane{
        width: 306px;
        border: solid 1px darkslategray;
        overflow-x: auto;
    }

    .view-record-pane table{
        width: 450px;
        border: solid 1px darkslategray;
    }
    th, tr, td{
        border: solid 1px darkslategray;
        border-collapse: collapse;
    }
    table,th, tr, td{
        border-collapse: collapse;
    }

    /*********End main section *********/
    /*********** Side Bar *************/
    .side-bar{
        display: none;
        width: 60%;
        height: 590px;
        background-color:whitesmoke;
        border: solid 1px whitesmoke;
        font-size: large;
        color: black;
        position: fixed;
        left: 0px;
        top: 0;
        z-index: 100;
    }

    .side-bar div:hover{
        color: whitesmoke;
    }

    .side-bar .active{
        color: whitesmoke;
    }

    #close-menu{
        display: flex;
        padding-bottom: 8px;
        border-bottom: solid 1px darkslategray;
    }

    #close-menu:hover{
        background-color: whitesmoke;
    }

    /****************** Authentication ****************/
    .auth-form{
        border: solid 1px;
        width: 98%;
    }
    .auth-form h4{
        border-bottom: solid 1px;
        margin-top: 4%;
        margin-bottom:10px;
        padding: 2%;
        text-align: center;
        font-size: x-large;
    }

    .form-element{
        width: 96%;
        height: 50px;
        margin-top: 4%;
        margin-right: 2%;
        margin-left: 2%;
        border: solid 1px;
    }

    .form-input{
        font-size: large;
    }

    .auth-btn{
        margin: 2%;
    }

    #forget-password-link{
        float: right;
        padding-top: 4%;
        margin-right: 2%;
    }

    #user-icon td{
        border: none;
    }
    #user-icon tr{
        border: none;
    }

    /******************Passport styling *************/

    .passport-btn{
        width: 40%;
    }

    /*********Upload Course Mobile View********/

    #add-subject-btn-span{
        width: 50%;
        font-size: medium;
        margin-left: 48%;
    }

    /********* Mobile Modal***********/

    .modal-pane{
        width: 90%;
        height: 450px;
        margin-left: 4%;
        margin-top: 10%;
    }

    #clear-modal-button{
        margin-left: 40%;
    }

/*******************Footer***************/
    .footer{
        border-top: solid 1px;
        position: relative;
        top: 370px;
    }
}



    /*.top-banner{*/
/*    width: 100%;*/
/*}*/

/*.logo{*/
/*    !*margin: 10px;*!*/
/*    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("../images/logo_square.PNG");*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/